# Oracle 19c Database Environment Profile — managed by Ansible
ORACLE_HOSTNAME={{ oracle_hostname_variable }}; export ORACLE_HOSTNAME
ORACLE_SID={{ oracle_sid }}; export ORACLE_SID
ORACLE_UNQNAME={{ oracle_unqname }}; export ORACLE_UNQNAME
ORACLE_BASE={{ oracle_base }}; export ORACLE_BASE
ORACLE_HOME=$ORACLE_BASE/oracle/db_home; export ORACLE_HOME
ORACLE_TERM=xterm; export ORACLE_TERM
JAVA_HOME=/usr/bin/java; export JAVA_HOME
TNS_ADMIN=$ORACLE_HOME/network/admin; export TNS_ADMIN
PATH=.:${JAVA_HOME}/bin:${PATH}:$HOME/bin:$ORACLE_HOME/bin
PATH=${PATH}:/usr/bin:/bin:/usr/local/bin
NLS_DATE_FORMAT="{{ env_nls_date_format }}"; export NLS_DATE_FORMAT
TEMP={{ env_temp }}; export TEMP
TMPDIR=$TEMP; export TMPDIR
export PATH
